body {
  margin: 0;
  font-family: sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 120% !important;
  line-height: 200% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

article,
header {
  padding: 30px;
  text-align: left;
}
article {
  text-align: left;
}
article.line {
  border-bottom-color: rgb(133, 133, 133);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
p {
  line-height: 120% !important;
}

.alignLeft {
  text-align: left;
}
ul.breadCrum,
ul.navigation,
ul.globalMenu {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}
ul.globalMenu {
  float: right;
}
ul.globalMenu li {
  color: white;
  display: inline;
  padding-right: 1.5em;
}
li.breadCrum {
  vertical-align: middle;
}
li.breadCrum:last-child {
  font-size: 200%;
}
.inline {
  display: inline;
}
.harmonizer {
  padding-top: 4px;
}
.resizer {
  resize: horizontal;
  overflow: auto;
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: dashed;
}
.tree {
  font-size: 15px;
  line-height: 150%;
}
/* Breaking news box!
To be very removed*/
.breakingNews {
  width: 100%;
  line-height: 50px;
  background-color: #281c2c;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.breakingNews p {
  display: inline-block;
  padding-left: 100%;
  animation: breakingNews 15s linear infinite;
}
@keyframes breakingNews {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.breakingNews p a {
  text-decoration: underline;
  color: white;
}
.breakingNews p a:hover {
  text-decoration: none;
}

.breakingNews {
  height: 70px;
  overflow: visible;
}

/*EHELSE PROFIL*/

header {
  background-color: #0069e8;
  color: white;
}
